<div class='container'>
  <div class='row'>
    <%= render 'layouts/search', q: @q %>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-hover">
        <thead>
          <th>達成task</th>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <% if task.done == true %>
              <td><%= sort_link(@q, :created_at, task.task_body)%></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <table class="table table-hover">
        <thead>
          <th>未達成task</th>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <% if task.done == false %>
              <td><%= sort_link(@q, :created_at, task.task_body)%></td>
          </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
