
<div class='container'>
  <div class='row diary_show'>
    <div class='diary_wrap'>
    <p class='diaryTitle'>
      <a class="about-head">隠しページにようこそ！</a>
    </p>
      <p>これはただの私の感想というなの日記ですw</p>
      <p>興味がなければRturnしてください！www</p>

      <p>私はフリーターをし続けていたわけですが</p>
      <p>2019年5月生としてDMMWEBCAMPに入学しました</p>

      <p>5月はわからないことばかりでjavascriptなんてものも知らなかったです</p>
      <p>そして6月でやっとjavascriptとJavaが違うと気づきましたwwwwwwww</p>
      <p>なぜか本屋でフィーリングで買った本2冊は</p>
      <p>JavaとUnityでした！wwwwwwwww</p>
      <p>注意欠陥乙wwwwと思いながらもその二つも勉強したいと思ったので結果オーライですw</p>

      <p>毎日スクールに通っていて私はかっこいいホームページが作れるようになりたい！</p>
      <p>他にもゲームを作ってみたいということに気づけました！</p>

      <p>プログラミングをやってみたい！</p>
      <p>...の思いからかっこいいからっていう理由だけでMacBookProを買い</p>
      <p>(来年は買った日にパソコンの前でケーキを食べようと思っています！ww<br>
      ちなみに私のパソコンの名前はMacBookPro班長という名前です！ww<br>
      お父さんにすげーださい！と言われましたwwwwwww)</p>
      <p>ワクワクしすぎて分割できる入学費用を一括ではらい...</p>

      <p>今年入って3ヶ月で100万すでに使ってしまったことに自分的にじわりました...</p>

      <p>そしてまあ、、、お察しの通り破産しました！wwwwww</p>

      <p>バイトもやめてしまったのでお金は減るだけでした！wwww</p>
      <p>収入源がなくてもまぁ実家暮らしのおかげでどうにかなりましたが(お父さん本当にありがとうwwwww)</p>

      <p>私の家では食費などは個人個人なため1ヶ月目に徐々にお金がなくなっていき後半は学校のチョコレートしか食べれなくなり</p>
      <p>2ヶ月目には学校に来て３色チョコレートをODするという生活をしましたw</p>
      <p>3ヶ月目はお父さんが私が少し痩せてしまったのに気づいて毎日パンを買ってくれるようになったので</p>
      <p>しっかり食べて登校してるので体調バッチリです！ww</p>

      <p>一文無しになってしまったのは初めての経験だったので</p>
      <p>こんなに空腹を感じたのも初めてでした！w</p>
      <p>お腹空いた！って感じるのも最高な気持ちでしたwwwwww</p>

      <p>私は勉強から逃げてきたので</p>
      <p>正直理解能力も覚えるのも遅くて「つら！」って何度も思ったけど</p>
      <p>でもやっぱり楽しいなって思います</p>
      <p>初めて自分で決めた道なので突き進んで行こうと思います</p>
      <p>初心者でつら！って思えるのも今だけだろうし</p>
      <p>この3ヶ月の経験が「激えも！！！！！！」って思える瞬間が楽しみで仕方ないです</p>
      <p>なんていってもまだまだ初心者感が半端ない作品にはなってしまったものの</p>
      <p>初めてのポートフォリオの内容が私らしいものになれたんじゃないかなって思っています！</p>

      <p>そして毎日通っていた渋谷に通うことがこんなに通うことがなくなってしまうのかと</p>
      <p>思うと何だか寂しくて泣いちゃいそうです。</p>

      <p>この3ヶ月間は</p>
      <p>私の人生にとってのターニングポイントだったし一生忘れたくないです。</p>
      <p>なので自己満記録としてこのページを作ってしまいましたw</p>

      <p>出会えたみなさんに感謝の気持ちでいっぱいだし大好きです！喋ったことない同期も2019年の5月を入学で選びなおかつWebcampを選んだのって</p>
      <p>本当に奇跡だなって思います！</p>
      <p>ありがとうございました！</p>
  </div>
</div>







