<div class="col-lg-3">
<a class="about-head">このサイトの使い方</a>


<p>日記</p>
<p>Todoリスト</p>
<p>カレンダー</p>
<p>このサイトではフレンドの誕生日を保存しておくことを推奨します</p>
<o>あなたの誕生日、大切な人達の誕生日などバースデ前にカウントしてくれます</p>
<p>毎日を楽しくしていくため</p>
</div>