<!-- h4とかh3とか一旦つけてるけど別にタイトルではなく本分なのであとでclassつけてpで振り分ける -->
<div class='row'>
  <div class="col-lg-6 about_row">
  <a class="about-head">ABOUT</a>
  <div class='info_link'>
    <h3 id='index'>目次</h3>
    <ul>
      <li><a href ='#about_info'>はじまり</a></li>
      <li><a href ='#dairy_instructions'>Diary</a></li>
      <li><a href ='#diary_operation' >-操作方法</a></li>
      <li><a href ='#task_instructions' >Task</a></li>
      <li><a href ='#task_operation' >-操作方法</a></li>
      <li><a href ='#calendar_instructions'>Calendar</a></li>
      <li><a href ='#calendar_operation'>-操作方法</a></li>
      <li><a href ='#point_instruction'>Point</a></li>
      <li><a href ='#level_instruction'>Level</a></li>
      <li><a href ='#contact_us_instructio'>お問い合わせ</a></li>
      <li><a href ='#ending'>おわり</a></li>
    </ul>
  </div>
  <div id='about_info'>
    <h1>はじまり</h1>
      <p>なぜこのサイトを作成したか....?</p>
    <h2>はじまりは
      <span class='negi'>ネギ</span>
                            でした</h2>
      <p>...ある日</p>
      <p>金髪だった私は「色の実験になってください！！！」
        <br>と美容師に声をかけられ美容室に行きました</p>
      <p>そしてお姉さんがいきなりこう言ったのです</p>
    <p class='lady'>「あの、ネギってすごくないですか?」</p>
      <p>(え、どういうこと？？！？！？めっちゃこわい！！！！)</p>
      <p>....と、思いました</p>
      <p>頭に？マークを浮かべていると<br>
          お姉さんは語り始めました.......</p>
    <p class='lady'>
      「ネギってさ、自然から生まれてきたものなのになんであのcolorなんですかね？」<br>
      「普通に考えて奇跡じゃないですか？！！？？本当すごくないですか！！？」</p>
      <p>確かに。普段目にしているものだから何も思うこともなかったけれどその通りすぎました。<br>
          感心です...お姉さん.....</p>
      <p>そう心の中で感動している間もお姉さんの話は続いている...</p>
    <p class='lady'>
      「あの白と緑...そしてその二つが交わる時のあの！！！！グラデーション...！！！！！！！」<br>
      「私はネギが大好きです！！！！！！！！！！！！」</p>
      <p>そうお姉さんは自信満々に言っていました</p>
      <p>その美容室から出る時には髪の色がどうこうより<br>
          私の見える世界がきらきら輝いてみえてしかたなかった！</p>
      <p>子供の頃ってこんな感じだったのかな。<br>
            ....とか思ったり</p>

    <p>道端に咲いてる花は綺麗だし</br>
        雨上がりの水滴は光ってるし</p>
      <p>そもそも私があの美容師さんに遭遇したのも<br>
          普段は断るのについていっちゃったのも奇跡だし</p>
    <p>........もうなんか</p>
    <h2>世界めっちゃきらきらしてる！！！！！！！！！！！！</h2>
      <p>そんな普通のことに気づけて毎日が楽しくなったのはその日からでした！</p>

      <p>うん？<p>
          それはわかったけどなんでこのサイト作ったのって...?</h2>
      <h4>当たり前のことって本当は奇跡なんだなって忘れちゃってたら思い出して欲しかったんです！</h4>

    <p>このサイトには</p>
    <h4>日記</h4>
    <h4>Task(To do)</h4>
    <h4>カレンダー</h4>
      <p>の3つの機能があります</p>

      <p>日記で日々の感動を忘れないように綴ってください！</p>
      <p>そしてTaskを作成し自分が輝くためにどうすればいいかを決めてください！</p>
      <p>カレンダーではあなたが楽しく過ごせるためにいろんなスケジュールを書き込んでください！</p>

      <p>文字にかくために自分について考える時間が作れます。<br>
          そして記録をすることで自分のことを把握したり目に見えた楽しみをつかむことができるでしょう...</p>

      <p>ということで自分を理解し時間を管理ができたら幸せへの近道なんじゃないか！</p>
      <p>と、思ったからなのです！</p>
  </div>

  <div class='instructions'>
    <h2>わたくしごと！
      <span>の使い方</span>
    </h2>
    <p>1.日記<br>
        2.Task<br>
          3.calendar<br>
            について少し詳しく説明していきます！</p>
  </div>

  <div id='dairy_instructions'>
    <h2>1.Diary</h2>
      <p class='loud_voice'>日記にはルールはありません</h3>
        <p>そのため使い方は自由です<br>
        ...例えば</p>
      <h3>・今日の思い出を綴る</h3>
      <h3>・メモがわりにしようする</h3>
        <h5>ダイエット記録/買うものを書く/名言を書くなど</h5>
      <h3>・自分の理想をまとめて書く</h3>
      <h3>・ステップアップのためにすべきことをあらいだす</h3>
      <h3>・自分をひたすら褒めまくる！！！</h3>
      <p>等々</p>
      <p>他にもできることはきっとあります！<br>
          あなたのあなただけのためのあなたらしい使い方を見つけてちゃってください！</p>
      <!-- 日記にハッシュタグをつけてジャンル別検索をさせたいね
      そのジャンルは自分で勝手に作成してもらえたらなおよし -->
      <p class='Isuppose'>※もしあなたが日記を書くことが苦手であれば無理に記録する必要もありません。</h4>
      <p>しかし日記を書くことによってpoinを取得することができます</p>
      <p>１日一行でもいいのです。</p>
      <p>なんなら5文字とかでもいいのです。</p>
      <h5>ぜひ何かしら書いてみて習慣づけてみてはいかがでしょうか...！</h5>
    </div>

    <div id='diary_operation'>
      <h2>-操作方法-</h2>
      <p>あなたのマイページにいくと</p>
      <p><span class='task_link'>という表記があるでしょう。</span></p>
      <p>そこに行くと今までに投稿した日記の一覧を見ることができます</p>
      <p>一覧の年月を検索することであなたが見たい日記の期間を絞ることができます</p>
    </div>
  <div id='task_instructions'>
    <h2>2.Task</h2>
    <h5>なんでもいいです。</h5>
    <p>すべきことを書き込んでみましょう。<p>
    <p>例えば<br>
      「紅茶を買いに行く」<br>
      「課題1~2を終わらす」<br>
      「ケーキを美味しく食べる」</p>
    <h5>この通り...本当になんでもいいのです....</h5>
    <p class='Isuppose'>
      ※ただし</p>
    <p>・タスクを沢山追加しすぎないこと<br>
        ・細かく書いた方が良さそうなところは細かく指定すること
      <p>
    <p class='.loud_voice'>私はこの二つを推奨します。</p>

    <p class='Isuppose'>人それぞれやり方があると思いますので必ずしもではありません。</p>
    <p>あくまで推奨です。</p>
      <p>沢山タスクがありすぎると多すぎて手につきにくくなりそうです。<br>
          達成してからどんどん追加していくことがベストだと考えます。</p>

    <p>また</p>
      <h5>今日も笑顔で生きる！</h5>
        <p>みたいなTaskであれば大雑把に指定しておkだと思います。<br>
          (何なら素晴らしい目標ですね！！！！！)</p>
        <br>
        <p>例えば[課題をやる！]みたいなTaskを作成した場合</p>
        <p>一体どこからどこまでを終わらせばいいのか...</p>
            <p>自分自身で１日以内に達成できそうなところ(挑戦するのもよし)を設定してあげると<br>
              きっとそれはあなたを課題達成に導いてくれるでしょう。</p>
    </div>
    <div id='task_operation'>
      <h2>-操作方法-</h2>
        <p>あなたのマイページにいくことでタスクを作成できることができます。
        <p>タスクには２種類のタスクがあります</p>
        <p>上のタスクが「これだけやればいい」タスクです</p>
        <p>「どういうこと？」</p>
        <p>...と思われた方。<br>
          次の説明を飛ばさず読んでください！</p>
        <h4>これだけやればいいタスク</h4>
        <p class='Isuppose'>※このタスクは1日に1度しか投稿できない最も重要なタスクです</p>
        <p class='loud_voice'>逆に言えば他のタスクを一切やらなくてもいいからこれだけやってくれ！</p>
        <p>というタスクになります。</p>
        <p>何か一つでも目に見える形で達成することで</p>
        <p>「今日を無駄にしなかった！」</p>
        <p>と思えるはずです。</p>>
        <p>(というより思いましょう！！！！)</p>
        <p>とにかくその感覚を味わってください！</p>

        <h3><span class='whisper'>そして</span>普通<span class='whisper'>の</span>タスク</h3>
        <p>何を投稿してもいいです。空の投稿はできません。
            タスク達成を目指して頑張ってください^^</p>
        <p>何日までに終わらすかの目標を書いた日にちを超えるとタスクは自動で消えてしまいます</p>
        <p>ずっと残しておいても置いてきぼりになるだけだからです</p>
        <h3>このサイトでは基本的に1日で達成するべき目標に絞りこみTaskを達成してください</h3>
        <p>doneボタンをクリックすると色が変わり達成したことになります</p>
        <p class='sorry'>xボタンをクリックするとTaskが消えます。<br>
          間違えて作った時はxで消してください。<br>
          ただし達成したからいいやと思って消すと全部消えてしまいます。</p>
        <p>Taskというボタンを押すとtaskの一覧を見ることができます。
        こちらは作った日付を指定して検索できます。</p>
    </div>

    <div id='calendar_instructions'>
      <h2>3.Calendar</h2>
        <h3>色々なイベントを追加することを推奨します</h3>
        <p>特に誕生日は欠かせません！</p>
        <p>だって！あなたが！そして大切な仲間が生まれた日なんですから！</p>
          <p>例えば</p>
            <p>・自分、家族や友人、好きなアーティストやキャラクターの誕生日</p>
            <p>・学校や病院の予定のスケジュール</p>
            <p>・なんでもいいから記念日をつくりまくる</p>
            <p class='calm'>本当になんでもいいです。</p>
            <p> PCを買った日をパソコンの誕生日として作成したり</p>
           <p>自分的な<br>
              ターニングポイントになったな！<br>
                っと思った日を１日の終わりに書いたり</p>
            <p>１日でアイスを10個食べたから今日をアイスクリーム記念日にしよう！</p>
            <p class='calm'>とかなんでもいいです</p>
          <p class='loud_voice'>記念日ってそれだけで素敵な響きじゃないですか？</p>
            <p>色々登録してみてください！</p>
    </div>
    <div id='calendar_operation'>
      <h2>-操作方法-</h2>
        <p>マイページに行きカレンダーをタッチすると予定を登録できます</p>
        <p class='sorry'>※ここで登録できるものはそのカレンダーのtitleだけです</p>
        <p>すぐにでも記述したい場合や<br>
          特に他の情報を入れ込まなくてもいい場合など</p>
        <p class='calm'>とりあえずカレンダーをクリックしてみてください</p>
        <p>詳しい内容を登録したい場合には</p>
        <p class='calm'>Editing Eventのところに書き込んでください</p>
        <p>先ほど入れた目次のようなところに当たるのがtitleの部分です。</p>
        <p class='calm'>Descriptionにはメモに使ってください</p>
        <p>例えば目的地や買い物リストをここに記述したり<br>
          なぜ今日がアイスクリーム記念日になったかなどなんでもいいです</p>
        <p>Start~Lastのところには開催の日時と終わりの日時が指定できます</p>
        <p>始まりと終わりの日を別の日にするとカレンダーのマークアップ箇所が伸びます。</p>
        <p class='sorry'>※とりあえずで追加したEvent(目次の箇所)
          を編集したい場合には一覧のリンクをおし編集してください</p>
    </div>

    <div id='point_instruction'>
      <h2>4.pointについて</h2>
        <p>pointがたまるとマイページにいるキャラクター
            <span class=''>(あなたのフレンドの一人です)</span><br>
              にプレゼントを送ることができます。</p>
        <p>pointを貯め続けて増えた数値を見て優越感を得るのも◎！</p>
      <h2>pointの貯め方</h2>
        <p>これだけやればいい　のタスクを達成すると
          <span  class='point_c'>?</span>pt</p>
        <p>通常のタスクを達成すると
          <span  class='point_c'>?</span>pt</p>
        <p>日記の内容が　?~?pt
          <span  class='point_c'>?</span>pt</p>
        <p>日記の内容が　?~?pt
          <span  class='point_c'>?</span>pt</p>
        <p>日記の内容が　?~?pt
            span  class='point_c'>?</span>pt</p>
        <p>日記の内容が　?~?pt
          <span  class='point_c'>?</span>pt</p>
        <p>とりあえずpointって響きが素敵ですよね！</p>
        <p>どんどん貯めましょう！</p>
    </div>
    <div id='level_instruction'>
      <h2>4.levelについて</h2>
        <p>levelupすると気持ちいいですね？</p>
        <p>levelと一緒に人間レベルをあげていきましょう！</p>
    </div>

    <div id='contact_us_instructio'>
      <p>他にわからないことなどありましたらメールを送ってください！</p>
      <p class='sorry'>※お時間をいただく場合があります。ご了承ください。</p>
    </div>

    <div id='ending'>
      <p>最後に...</p>
      <p>これは私の考え方ですが</p>
      <p>いいことをするといいことがかえってくる！</p>
      <p>１日１膳以上するといっぱいの笑顔がみれる！</p>
      <p>辛いことがあってもそのあとにいいことが絶対くるから辛いこともラッキー！</p>
      <p>あなたは一人じゃないです！応援しています！</p>
    <h2>Lets Enjoy Life！です！</h2>
    </div>
</div>
    <!-- <p>あなたの誕生日、大切な人達の誕生日などバースデ前にカウントしてくれます</p> -->