// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サイドば！
#about-side{
  background-color: #FE027E;
  height: 100%;
  min-height: 730vh;
}
#about_body {
  background: rgb(255, 237, 122);
}

.about_li a, .about_li > a:visited {
  color: #fff !important;
}

a.about-head {
  color: #FE027E;
  cursor: pointer;
}
//secret
li.about_me {
color: #FE027E !important;
margin: 20px 19px 0 5px;
}

li.about_me >a:hover {
  color: #FE027E;
  background-color: #FE027E;
  cursor: default;
}

.negi:hover{
  background: #FFF;
}

.about_row{
  margin-left: 20px;
}

.instructions{
  background-color: rbga(255,255,255,0.8) !important;
}

.lady{
}
.loud_voice{
}
.task_link{
}
.Isuppose{
}
.whisper{
}
.sorry{
}
.calm{
}