// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サイドば！
#about-side{
  background-color: #FE027E;
  height: auto;
  min-height:100vh;
  display:none;
}
#about-side a:visited {
  color: #fff !important;
}

