/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: '851MkPOP_002';
  src: font-url('851MkPOP_002.ttf') format('truetype');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, li, a {
  font-family: '851MkPOP_002', 'sans-serif';
  font-size: 16px;
}

body, p {
color: #FE027E;
}

.kana {
  font-family: 'Verdana';
}
.link_to{
  color: #fff;
}

.password{
  font-family: 'Verdana';
}

 a{
  text-decoration:none;

}
li {
  list-style-type :none;
}

//mypage
.room {
  background-image: linear-gradient(160deg, rgba( 254, 2, 126, 0.5), rgba(255, 237, 122, 0.1)), url('room.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  position: absolute;
  width: 90%;
  // opacity: 0.2;
}

//header
.head-body {
  padding-top: 120px;
  background: #ffed7a;
}

.navbar-default {
  padding: 10px 0;
  background: #F6248A;
}

#watakushigoto {
  color: #FFF;
  margin-left: 700px;
  line-height: 36px;
  font-size: 34px;
  position: relative;
}

.navbar-default, .navbar-nav > li > a {
  color: #FFF !important;
}
.my-img{
  margin-bottom: 20px;
}

.user_link {
  display:none;
  position: absolute;
  z-index: 2000;
}

#mypage_li{
  position: absolute;
  top:200px;
  right:1050px;
  bottom: 200px;
  display: none;
  img{
    border-radius: 50%;
  }
}

#logout_li{
  position: absolute;
  position: absolute;
  top:300px;
  right:660px;
  display: none;
}

#about_li{
  position: absolute;
  top:300px;
  right:560px;
  display: none;
}



//flash
.notice{
  color: #fff;
}
.danger{
  color: #FE027E;
}

//table
table tr[data-href] {
  cursor: pointer;
}

//search
select{
  cursor: pointer;
}

input{
  cursor: pointer;
}

//refile
.preview {
  height: 200px;
}

.preview_cicle{
  width:  180px;
  height: 180px;
  border-radius: 50%;
  border:solid 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 6px 0 30px;
  background: rgba(255, 255, 255 ,0.6);
}
//modal
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
}

//暗くなります！
.dark {
  z-index:1000;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.8);
}
