/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: '851MkPOP_002';
  src: font-url('851MkPOP_002.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, li, a {
  font-family: '851MkPOP_002', 'sans-serif';
  font-size: 16px;
}

body, p {
color: #FE027E;
}

.kana {
  font-family: 'Verdana';
}
.link_to {
  color: #fff;
}

.password {
  font-family: 'Verdana';
}

 a{
  text-decoration:none;

}
li {
  list-style-type :none;
}

//mypage
.room {
  background-image: linear-gradient(160deg, rgba( 254, 2, 126, 0.5), rgba(255, 237, 122, 0.1)), url('/images/room.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  position: absolute;
  width: 90%;
  // opacity: 0.2;
}

//header
.head-body {
  padding-top: 120px;
  background: #ffed7a;
}

.navbar-default {
  padding: 20px 0;
  background: #F6248A;
  height:100px;
}

#watakushigoto {
  color: #FFF;
  margin-left: 700px;
  line-height: 36px;
  font-size: 34px;
  position: relative;
  cursor: pointer;
}

.navbar-default, .navbar-nav > li > a {
  color: #FFF !important;
}
.my-img{
  margin-bottom: 20px;
}

.user_link {
  display:none;
  position: absolute;
  z-index: 2000;
}

#mypage_li{
  position: absolute;
  top:140px;
  right:800px;
  bottom: 200px;
  display: none;
  img{
    border-radius: 50%;
  }
}

#logout_li{
  position: absolute;
  top: 200px;
  right: 520px;
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: none;
  z-index: 3000px;

}

#about_li{
  position: absolute;
  top:240px;
  right:900px;
  display: none;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.respondNav {
  display: none;
}

//flash
.notice{
  color: #fff;
}
.danger{
  color: #FE027E;
}

//table
table tr[data-href] {
  cursor: pointer;
}

//search
select{
  cursor: pointer;
}

input{
  cursor: pointer;
}

//refile
.preview {
  height: 200px;
}

.preview_cicle{
  width:  180px;
  height: 180px;
  border-radius: 50%;
  border:solid 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 6px 0 30px;
  background: rgba(255, 255, 255 ,0.6);
}
//modal
.modal-content {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    width:  600px;
    h1{
      padding-left: 140px;
    }
}

#calendar {
  margin-top: 5px;
}
//暗くなります！
.dark {
  z-index:1000;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.8);
}

.loading_anime {
}



@media screen and (max-width: 425px) {

   #watakushigoto {
    text-align: center;
    margin-left: 315px;
  }

  .head-body {
    width: 830px;
    height: 100%;
  }

  .TaskPosition {
    margin-left: 240px;
    margin-top: 30px;
  }

  .room {
    margin: 10px 0 10px 85px;
    width: 75%;
  }

  .my-img{
   display: none;
  }

  #friend {
    right: 160px;
    top: 18px;
  }

  .YouName {
    position: absolute;
    top: 580px;
    right: 300px;
  }

  .YourLvP {
    position: absolute;
    top: 475px;
    right: 50px;
    p{
      color: #fff;
    }
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    margin: 30px auto;
  }

  .respondNav {
    display:  block;
    margin: 0 300px;
  }

  .nav>li {
    float: left;
    display: inline-block;
  }

  .user_link {
    pointer-events: none;
  }

  #eatA {
    top: 540px;
    left: 340px;
  }

  #eatB {
    top: 526px;
    left: 300px;
  }

  #eatC {
    top: 512px;
    left: 390px;
  }

  #eatD {
    top: 512px;
    left: 405px;
  }

  .You_bio {
    position: absolute;
    top: 1020px;
    left: 460px;
    background: none;
    padding: 12px;
    h3{
      display: none;
    }
  }

  .calendar_row{
    width: 100%;
    margin-top: 20px;
  }

  .breaktime {
    margin: 460px 0 30px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #watakushigoto {
    margin-left: 410px;
    line-height: 50px;
  }

  .TaskPosition {
    margin-left: 330px;
  }

  .room {
    margin: 36px 0 30px 190px;
    height: 400px;
    width: 60%;
  }

  .my-img{
    display: none;
  }

  .YouName {
    margin-right: 50px;
    padding: 0;
    text-align: right;
  }

  .YourLvP {
    text-align: left;
    margin-left: 800px;
  }

  #mypage_li{
    top: 380px;
    right:400px;
  }

  #logout_li{
    top: 420px;
    right: 650px;
  }

  #about_li{
    top: 440px;
    right: 300px;
  }

  #eatA {
    top: 552px;
    right: 495px;
  }

  #eatB {
    top: 540px;
    right: 469px;
  }

  #eatC {
    top: 519px;
    right: 445px;
  }

  #eatD {
    top: 528px;
    right: 427px;
  }

  .You_bio {
    position: absolute;
    top:330px;
    left: 5px;
    background: none;
    padding: 12px;
    h3{
      padding: 20px 0 10px 0;
    }
    p{
      padding-left: 0;
    }
  }

  .Editing_Eve {
    text-align: center;
  }

  .calendar_row{
    width: 100%;
  }

  .breaktime {
    margin: 300px 0 50px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  #watakushigoto {
    margin: 270px;
  }

  .room {
    margin: 50px 0 30px 60px;
    width: 80%;
  }

  .my-img{
    display: none;
  }

  .YouName {
    position: absolute;
    bottom: 100px;
    right: 190px;
  }

  .YourLvP {
    position: absolute;
    bottom: 17px;
    right: 90px;
  }

  .respondNav {
    display:  block;
    margin: 0 260px;
    width: 1000px;
  }

  .nav>li {
    float: left;
    display: inline-block;
  }

  .user_link {
    pointer-events: none;
  }

  #eatA {
    top: 530px;
    right: 344px;
  }

  #eatB {
    top: 520px;
    right: 320px;
  }

  #eatC {
    top: 500px;
    right: 295px;
  }

  #eatD {
    top: 505px;
    right: 280px;
  }

  .You_bio {
    text-align: center;
  }

  .Editing_Eve {
    text-align: center;
  }

  .calendar_row{
    width: 100%;
    margin-top: 50px;
  }

  .breaktime {
    margin: 500px 0 50px;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
   #watakushigoto {
    margin-left: 400px;
  }

  .room {
    margin: 50px 0 30px 88px;
    width: 80%;
  }

  .my-img{
    display: none;
  }

  .YouName {
    position: absolute;
    bottom: 130px;
    right: 290px;
  }

  .YourLvP {
    position: absolute;
    bottom: 30px;
    right: 190px;
  }

  .respondNav {
    display:  block;
    margin: 0 375px;
    width: 1000px;
  }

  .nav>li {
    float: left;
    display: inline-block;
  }

  .user_link {
    pointer-events: none;
  }

  #eatA {
    top: 544px;
    right: 376px;
  }

  #eatB {
    top: 530px;
    right: 355px;
  }

  #eatC {
    top: 520px;
    right: 335px;
  }

  #eatD {
    top: 525px;
    right: 320px;
  }

  .You_bio {
    text-align: center;
  }

  .Editing_Eve {
    text-align: center;
  }

  .calendar_row{
    width: 100%;
    margin-top: 50px;
  }

  .breaktime {
    margin: 500px 0 50px;
  }

}


