// Place all the styles related to the Diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diaryNomal {
  margin: 0 0 100px;
  text-align: right;
}
.diaryTitle {
  margin-bottom: 40px;
  font-size: 36px;
}

.diary_wrap {
  margin: 80px auto;
  width: 86%;
  .diaryBody {
    margin: 80px 0 20px;
    word-wrap: break-word; //要素サイズに改行
  }
}

.diary-img {
  width: 30%;
}

.diary-tr {
  background: #FE027E;
  color: #fff;
}

.diary_table {
  background: rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.sort_link,a:visited {
  color: #FE027E !important;
}

.dLink {
  text-align: right;
  margin-top: 300px;
}

#d_img img {
  width: 30%;
  padding: 12px;
}

.diary_show {
  margin: 40px;
  min-height: 700px;
  background: rgba(255,255,255,0.3);
}