// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
  color: #FF4447;
}

.x-button {
  cursor: pointer;
}

input::-webkit-input-placeholder{
    color: #9f9f9f;
    font-size: 0.7em;
}

progress[value]::-webkit-progress-bar {
  background-color: #9f9f9f !important;
}
