// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tom {
  animation-duration: 4s; /* アニメーションの時間 */
  animation-delay: 1s; /* アニメーション開始時間 */
}

.box {
  background: #fff;
  height: 400px;
  // weight: 400px;
}